<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--配置于application.xml-->
    <bean id="accountService" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
        <property name="serviceUrl" value="http://localhost:8080/remoting/AccountExporter"/>
        <property name="serviceInterface" value="com.maxwell.common.AccountServiceInterface"/>
    </bean>
    <!--
    &lt;!&ndash;配置于web.xml&ndash;&gt;
    <bean id="accountService" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
        <property name="serviceUrl" value="http://localhost:8080/remoting/accountService"/>
        <property name="serviceInterface" value="com.maxwell.common.AccountServiceInterface"/>
    </bean>
-->
</beans>